{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": "commonjs",
				"exclude": ["proposal-dynamic-import"],
				"targets": {
					"node": "14.15.0"
				}
			}
		],
		["@babel/preset-typescript"]
	],
	"plugins": []
}
