{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"targets": {
				"node": "10"
			}
		}],
		["@babel/preset-typescript"]
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", {
			"legacy": true
		}],
		["@babel/plugin-proposal-class-properties", {
			"loose" : true
		}],
		["@babel/plugin-transform-runtime", {}]
	]
}
