# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Node files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
*.tgz
yarn.lock

# IDE config
.vscode

# Launcher binaries
/launchers

# Build files
/lib

# Test files
/shockpkg
/spec/projectors
/spec/bundles
