# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Node files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
*.tgz
yarn.lock
.nvmrc

/package-lock.json
/.gitattributes
/.gitignore
/.github
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.tern-project
/tsconfig.json
/tsconfig.eslint.json
/gulpfile.babel.ts
/spec
/src

/launchers

/lib/**/*.spec.d.ts
/lib/**/*.spec.js
/lib/**/*.spec.js.map
/lib/**/*.spec.mjs
/lib/**/*.spec.mjs.map

/shockpkg
