# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Node files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz

yarn.lock

/package-lock.json
/.gitattributes
/.gitignore
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.tern-project
/.travis.yml
/package-scripts.yml
/tsconfig.json
/tslint.yaml
/gulpfile.babel.js
/nodemon.json
/spec
/src

/lib/**/*.spec.d.ts
/lib/**/*.spec.js
/lib/**/*.spec.js.map
/lib/**/*.spec.mjs
/lib/**/*.spec.mjs.map

/shockpkg
